.imagem{
    width: 400px ;
    height: 400px ;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.foto-margarida{
    width: 400px; 
    height: 400px; 
    object-fit: cover;
}

.texto{
    width: 400px ;
    height: 230px ;
    text-align: center;
    padding-top:170px;
    font-family:'Cookie';
    font-size: 70px;
    color: #eb451b;
    font-weight: bold;
    box-shadow:5px 5px 10px 10px #ffffff inset;
    background-color: transparent;
    position: absolute;
}

.borda-solida{
    width: 400px ;
    height: 400px;
    border: 20px solid #be9302;
}

.borda-dupla{
    width: 440px ;
    height: 440px;
    border-style: double;
    border-color: #2e1c05;
    border-width: 20px;
}